* {
  font-family: 'Roboto', sans-serif;
}


body {
  background: #ffffff;
}

.navbar-avatar img {
  width: 45px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.navbar-avatar {
   background: #ffffff;
   box-shadow: 0 0 5px #3a3f464d;
   border-radius: 50%;
   padding: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bg-light {
  background: #ffffff!important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.144);
}

.btn-blue i {
  margin-right: 10px;
}

.btn-blue {
  background: #8AC4FF;
  box-shadow: 0 0 10px #8ac4ff59;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 10px 25px;
  margin-right: 20px;
}


.btn-blue:hover {
  color: #fff;
  box-shadow: 0 0 12px #8ac4ffa8;
}

.haul .card {
  border: none;
  box-shadow: 0 0 5px #3a3f464d;
}

.haul-title {
  color: #2E3346;
  text-align: center;
}

.haul {
  top: 5rem;
  position: relative;
}